@import url(http://fonts.googleapis.com/css?family=Gravitas+One);

body {
   text-align: center;
   
   font-family: sans-serif;
   font-size:   14px;
   
   overflow: scroll;

   background: #499bea; /* Old browsers */
   background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
   background: linear-gradient(top,  #499bea 0%,#207ce5 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

#logo {
   text-align: left;
   width: 100%;

   position: fixed;
   top: 0;
   left: 50px;
   font-size: 80px;
   font-style: italic;
   font-family: "Gravitas One", cursive;
   z-index: -1;

   background-image: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);;

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-reflect: below -45px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

section, h1 {
   background-color: rgba(237, 239, 244, 0.9);
   border: 3px solid rgba(237, 239, 244, 1);
   border-radius: 20px;
   padding: 10px 30px;
   margin-bottom: 20px;
}

h1 {
   padding: 10px 30px;
   margin-top: 0;
}

h2 {
   margin: 5px 0px 10px 0px;
   border-bottom: 2px solid black;
   
   color: orange;
   
   font-family: sans-serif;
   font-size:   2em;
}

h3 {
   margin: 20px 0px;
}

a, a:visited {
  color: blue;
}

.ribbon-holder {
   position: fixed;
   right: 0px;
   top: 0px;
   height: 10em;
}

.ribbon-holder a {
   font: bold 1.25em 'Helvetiva Neue', Helvetica, Arial, sans-serif;

   text-decoration: none;
   
   letter-spacing: -.1px;
   
   opacity: 0.95;
   padding: 0.25em 0;
   
   position: relative;

   top: 3em;
   right: -3.5em;

   -moz-box-shadow: 0 0 13px #888;
   -webkit-box-shadow: 0 0 13px #888;

   color: white;
   display: block;
   line-height: 1.35em;

   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);

   background: -webkit-gradient(linear, left bottom, left top, from(#DC7202), to(#EE7906));
   background: -webkit-gradient(linear, left bottom, left top, from(#DC7202), to(#EE7906));
}

.ribbon-holder span {
   padding: 0.1em 3em;
   border: 1px solid #EBAA65;
}

#content {
   width: 800px;
   min-height: 600px;
   margin: 110px auto 30px auto;
   text-align: left;
}

nav {
  padding: 10px;
  
  background-color: rgba(237, 239, 244, 0.9);
  border: 3px solid rgba(237, 239, 244, 1);
  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
   
  position: fixed;
  left: 0;
  top: 110px;
  
  max-height: 90%;
  
  text-align: left;
}

nav h3 {
  margin: 0;
  padding: 0;
}

nav ul {
   padding: 0;
   margin: 10px 0;
}

nav ul li {
   list-style: none;
   line-height: 175%;
}