@import url(http://fonts.googleapis.com/css?family=Gravitas+One);

body {
   text-align: center;
   
   font-family: sans-serif;
   font-size:   14px;
   
   overflow: scroll;

   background: #499bea; /* Old browsers */
   background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
   background: linear-gradient(top,  #499bea 0%,#207ce5 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

#logo {
   text-align: left;
   width: 100%;

   position: fixed;
   top: 0;
   left: 50px;
   font-size: 80px;
   font-style: italic;
   font-family: "Gravitas One", cursive;
   z-index: -1;

   background-image: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);;

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-box-reflect: below -45px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

section, h1 {
   background-color: rgba(237, 239, 244, 0.9);
   border: 3px solid rgba(237, 239, 244, 1);
   border-radius: 20px;
   padding: 10px 30px;
   margin-bottom: 20px;
}

h1 {
   padding: 10px 30px;
   margin-top: 0;
}

h2 {
   margin: 5px 0px 10px 0px;
   border-bottom: 2px solid black;
   
   color: orange;
   
   font-family: sans-serif;
   font-size:   2em;
}

h3 {
   margin: 20px 0px;
}

h4 {
   margin-bottom: 0;
   padding-bottom: 3px;
   border-bottom: 1px solid black;
}

a, a:visited {
  color: blue;
}

.example, .example-without-label {
   border: 1px solid #BBB;
   border-radius: 10px;
   padding: 20px;
   clear: both;
   position: relative;
   margin: 20px 0px;
}

.example:before {
   content: "Example:";
   background-color: white;
   padding: 5px;
   border: 1px solid #BBB;
   border-radius: 10px;
   position: absolute;
   top: -13px;
   left: 20px;
}

.ribbon-holder {
   position: fixed;
   right: 0px;
   top: 0px;
   height: 10em;
}

.ribbon-holder a {
   font: bold 1.25em 'Helvetiva Neue', Helvetica, Arial, sans-serif;

   text-decoration: none;
   
   letter-spacing: -.1px;
   
   opacity: 0.95;
   padding: 0.25em 0;
   
   position: relative;

   top: 3em;
   right: -3.5em;

   -moz-box-shadow: 0 0 13px #888;
   -webkit-box-shadow: 0 0 13px #888;

   color: white;
   display: block;
   line-height: 1.35em;

   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);

   background: -webkit-gradient(linear, left bottom, left top, from(#DC7202), to(#EE7906));
   background: -webkit-gradient(linear, left bottom, left top, from(#DC7202), to(#EE7906));
}

.ribbon-holder span {
   padding: 0.1em 3em;
   border: 1px solid #EBAA65;
}

#content {
   width: 800px;
   min-height: 600px;
   margin: 110px auto 30px auto;
   text-align: justify;
}

tt {
   display: inline-block;
   padding: 2px;
   background-color: #DDD;
   border: 1px solid #AAA;
}

dt {
   display: inline-block;
   padding: 4px;
   background-color: #DDD;
   border: 1px solid #AAA;

   margin-top: 10px;
   margin-bottom: 3px;
}

dd {
   margin-left: 20px;
}

aside {
   float: right;
   background-color: #DDD;
   padding: 10px;
   margin: 5px 15px;
   border: 1px solid #AAA;
   max-width: 300px;
}


.left {
   float: left;
}

.right {
   float: right;
}

.clear {
   clear: both;
}

nav {
  padding: 10px;
  
  background-color: rgba(237, 239, 244, 0.9);
  border: 3px solid rgba(237, 239, 244, 1);
  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
   
  position: fixed;
  left: 0;
  top: 110px;
  
  max-height: 90%;
  
  text-align: left;
}

nav h3 {
  margin: 0;
  padding: 0;
}

nav ul {
   padding: 0;
   margin: 10px 0;
}

nav ul li {
   list-style: none;
   line-height: 175%;
}

pre.source, pre.rendered, iframe.rendered {
   background-color: white;
   display: inline-block;
   vertical-align: top;
   max-width: 310px;
   overflow-x: auto;
}

pre.source, pre.rendered {
   background-color: #CCC;
   border: 1px solid #AAA;
   padding: 10px;
   margin: 0;
}

pre.source {
   margin-right: 20px;
}

.highlight {
   background-color: #272822;
   padding: 3px 10px;
   border-radius: 5px;
}

/* parameter lists */

dl.parameters {
   margin: 0;
   position: relative;
   top: -15px;
}

/* tables */

table {
   border-collapse: collapse;
}

table thead tr:first-child {
   border-top: 2px solid black;
}

table thead tr:last-child, table tbody tr:last-child {
   border-bottom: 2px solid black;
}

table tr {
   border-left: 2px solid black;
   border-right: 2px solid black;
}

table tbody td, table thead th {
   text-align: center;
   border-left: 1px solid gray;
   padding: 3px 5px;
}

table tbody td:last-child, table thead th:last-child {
   border-right: 1px solid gray;
}

table tbody tr:nth-child(even), table thead tr {
   background-color: #DDD;
}


/** Scrollable tables for long lists of data */

table.scrollable {
   display: block;
}

table.scrollable tbody {
   max-height: 300px;
   display: block;
   overflow-y: auto;
}

table.scrollable td, table.scrollable th {
   max-width: 120px;
   min-width: 120px;
   text-overflow: ellipsis;
   overflow-x: hidden;
}